.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.add-project-title {
  font-family: "Playfair Display";
  font-size: 32px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: center;
  color: #25282b;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.hr-line {
  width: 100px;
  height: 4px;
  border-radius: 2px;
  border: none;
  background-color: #fdc435;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-label {
  color: #25282b;
}

.form-input {
  border: 1px solid #e8ecf4;
  width: 300px;
  height: 30px;
  border-radius: 8px;
  margin: 3px 0px;
  padding: 4px;
}

.text-area {
  height: 80px;
}

.add-btn {
  align-self: center;
  width: 81px;
  height: 43px;
  padding: 8px 24px;
  border-radius: 8px;
  background-color: #fdc435;
  border: none;
  margin-top: 8px;
  cursor: pointer;
}
